@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  background-color: #1e1e1e;

  color: #e6e6e6;
}

@layer utilities {
  .gothic-font {
    font-family: "Dela Gothic One", cursive;
  }

  .fluid-h1 {
    font-size: clamp(36px, calc(2.25rem + (96 - 36) * ((100vw - 375px) / (1400 - 375))), 96px);
  }

  .fluid-h2 {
    font-size: clamp(24px, calc(1.5rem + (76 - 24) * ((100vw - 375px) / (1400 - 375))), 76px);
  }

  .fluid-p {
    font-size: clamp(14px, calc(0.875rem + (20 - 14) * ((100vw - 375px) / (1400 - 375))), 20px);
  }

  .fluid-nav-item {
    font-size: clamp(14px, calc(0.875rem + (24 - 14) * ((100vw - 375px) / (1400 - 375))), 24px);
  }

  .fluid16-12 {
    font-size: clamp(12px, calc(0.75rem + (16 - 12) * ((100vw - 375px) / (1400 - 375))), 16px);
  }
}
