::selection {
  color: #1a4345;
  background: #8afff8;
}

html body {
  font-family: 'Tahoma';
  font-style: normal;
  font-weight: 400;
  background-color: #0a0a0a;
  color: #b7b6b6;
}
body > :first-child {
  display: none;
}

h1,
h2,
h3,
h4,
h5 {
  color: #f0f0f0;
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 700;
  font-size: 25.89px;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5 {
  color: #f0f0f0;
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 700;
  font-size: 25.89px;
  margin-top: 61px;
  margin-bottom: 37px;
}

.content p,
.content ul,
.content ol {
  padding-left: 20px;
}
.content ul,
.content ol {
  list-style: disc;
  list-style-position: inside;
}

.underline-under {
  text-underline-position: under;
}

@media (min-width: 1536px) {
  .content p,
  .content ul,
  .content ol {
    font-size: 25.89px;
  }
}
